@charset "utf-8";
/* basic */
html,body{height:100%;}
ul {margin:0; padding:0; list-style: none;}
a {text-decoration: none;}
img {vertical-align: top;}

/* font setting */
body{color:#000; font-family: 'S-CoreDream-R', -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;}
header, h1, h2, h3, footer{font-family:'Montserrat', serif;}

/* --------------- mobile --------------- */

/* container */
.container {background-color: #F9F8FA; position: relative; z-index: 10;}
.contents {padding:10vh 5.3333% 0}

/* header */
header {width: 100%; font-size:1.25rem; text-transform: capitalize; position: fixed; top:0; left:0; z-index: 100; transition:500ms; border-bottom:1px solid #ddd; background-color: #f9f8fa94;}
header.scroll-down nav {background-color: #F9F8FA;}
/* navigation */
nav {display: flex; justify-content: space-between; align-items: center; width: 100%; height:60px; padding:0 4.8645%; box-sizing: border-box; transition:0.3s;}
/* nav logo */
nav h2 {margin:0; font-size:2.875rem; font-family: 'Rozha One', serif; opacity: 1; transition:300ms ease;}
nav h2 a {color:inherit; padding:10px;}
nav h2 .bluedot {font-size:2rem; color:#004be2;}
/* nav .gnb */
nav ul {display:none;}

/* mobile_menu overlay */
/* menu btn */
.menu_icon {display:flex; align-items: center; cursor: pointer; position: absolute; top:16px; right:4.8645%; height:30px; width:30px; z-index: 20;}
.menu_icon span, .menu_icon span::after, .menu_icon span::before {width:30px; height: 2px; background-color: #004be2; border-radius:20px; transition:all 300ms ease;}
.menu_icon span {display:block; position: relative;}
.menu_icon span::after, .menu_icon span::before {content: ""; position: absolute;}
.menu_icon span::after {top:8px;}
.menu_icon span::before {bottom:8px;}
/* menu btn::active ani */
.menu_icon.active span, .menu_icon.active span::before, .menu_icon.active span::after {background-color: #fff;}
.menu_icon.active span {animation: Menu 300ms ease forwards;}
.menu_icon.active span::before {bottom:0; animation:Menu-before 300ms ease forwards;}
.menu_icon.active span::after {top:0; animation:Menu-after 300ms ease forwards;}
    @keyframes Menu {
        50% {transform: rotate(0deg);}
        100% {transform:rotate(45deg);}
    }
    @keyframes Menu-before {
        50% {bottom:0; opacity: 0.5; transform:rotate(0deg);}
        100% {bottom:0; opacity: 1; transform:rotate(90deg);}
    }
    @keyframes Menu-after {
        50% {top:0; opacity:0.5; transform:rotate(0deg);}
        100% {top:0; opacity: 1; transform:rotate(-90deg);}
    }
/* menu overlay */
.overlay {display:flex; flex-direction: column; justify-content: center; position: fixed; top:0; left:0; width:100%; height:100%; z-index:10; background-color: #004be2;}
.overlay ul {height:48vh; display: flex; flex-direction: column; align-items: center; justify-content: space-around;}
.overlay ul li a {font-family:'Montserrat',sans-serif;  font-size:50px; font-weight:600; text-transform: uppercase; color:#fff; transition:0.4s;}
.overlay ul li a:hover {color:#000;}

/************ contents ************/
/* title */
.contents .title {padding:40px 0 115px; font-family: 'Montserrat',sans-serif; font-weight: 500;}
.contents .title p {font-size:14px; text-transform: capitalize;}
.contents .title h1 {font-size:35px; text-transform: capitalize; color: #004be2; margin:0 0 60px;}
.contents .title .info_box {display: flex; align-items: flex-start;}
.contents .title .info_box img {display: block; padding:5px 10px 0 0;}
.contents .title .info_box p {font-size:14px; margin:0; line-height: 1.8; font-family:'S-CoreDream-R',sans-serif;}
/* mockup */
.contents .mockup {padding-bottom:75px;}
.contents .mockup img {width:100%;}
/* detail */
.contents .detail h2 {font-size: 25px; text-transform: capitalize; color:#004be2; margin:0 0 55px; font-weight: 600;}
/* detail - 01. project_goal */
.contents .detail .project_goal {text-align: center; margin-bottom:160px;}
.contents .detail .project_goal .pc_text {display: none;}
.contents .detail .project_goal .mobile_text {font-size: 14px; line-height: 1.9;}
.contents .detail .project_goal .mobile_text p {margin:0 0 40px;}
/* detail - 02. design_guide */
.contents .detail .design_guide {text-align: center;}
.contents .detail .design_guide h3 {font-weight: 600; margin-bottom:43px; text-transform: capitalize;}
/* detail basic */
.contents .detail .design_guide .keyword ul, .contents .detail .design_guide .color ul {display: flex; justify-content: space-between; margin-bottom:45px;}
.contents .detail .design_guide p {font-size: 14px; line-height: 1.9;}
.contents .detail .design_guide .keyword, .contents .detail .design_guide .color {margin-bottom: 95px;}
/* detail - 03. keyword */
.contents .detail .design_guide .keyword ul li {width:90px; height:90px; border:1px solid #de404f; border-radius: 50%; font-size: 14px; line-height: 90px;}
/* detail - 04. color */
.contents .detail .design_guide .color ul {display: flex; justify-content: space-between;}
.contents .detail .design_guide .color ul li {width: 75px; height: 75px; font-size: 14px; line-height: 75px; border-radius: 50%;}
.contents .detail .design_guide .color ul li:first-child {border:1px solid #000;}
.contents .detail .design_guide .color ul li:nth-child(2) {background-color: #c4ad9d;}
.contents .detail .design_guide .color ul li:nth-child(3) {background-color: #de404f;}
.contents .detail .design_guide .color ul li:last-child {background-color: #000; color:#fff;}
/* detail - 05. font */
.contents .detail .design_guide .font {margin-bottom: 150px;}
.contents .detail .design_guide .font ul li {font-size: 14px; padding:10px;}
.contents .detail .design_guide .font ul li:first-child {padding-top:0;}
.contents .detail .design_guide .font p {margin-top:25px;}
/* detail - 06. UI / UX design */
.contents .detail .design_guide .design {text-align: left; margin-bottom:90px;}
.contents .detail .design_guide .design ul li {font-size: 14px; line-height: 1.9;}
/* detail - 07. publishing */
.contents .detail .design_guide .publishing {text-align: right; margin-bottom:100px;}
.contents .detail .design_guide .publishing ul li {font-size:14px; line-height: 1.9;}

/************ footer ************/
footer {font-size:12px; width:100%; padding:25px 5.3333%; background-color: #004be2; color:#fff; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; text-align: center; line-height:1.5;}
footer .return_top {text-align:left;}
footer .footer_copyright {position: absolute; left:50%; transform:translateX(-50%);}
footer .gitblog_link a {height:30px;}
footer .gitblog_link span {display: none;}
footer .gitblog_link img {width:30px;}
/*** return-top btn ***/
.return_top {color:#fff; cursor: pointer; text-transform: uppercase;}

/* --------------- tablet screen --------------- */
@media screen and (min-width:768px) {
    /* header */
    nav {height:50px;}
    .menu_icon {top:11px;}

    /* contents */

    /* footer */
    footer {font-size:12px; padding: 25px 10%;}
    footer .return_top br {display: none;}
    footer .gitblog_link a {color:#fff; text-decoration:none;}
    footer .gitblog_link span {display:block;}
    footer .gitblog_link img {display:none;}
}

/* --------------- pc screen --------------- */
@media screen and (min-width:1440px) {
    /* header */
    header {border-bottom:none; background-color:transparent; padding:15px 0;}
    header.scroll-down nav {background-color: transparent;}
    nav ul {display: block;}
    /* nav_list .gnb */
    nav ul {padding:0; margin:0; list-style:none; display: flex;}
    nav ul li a {color:#000; position: relative; display:inline-block;margin-left:30px;}
    /* li:hover highlighter effect */
    nav ul li a::after {content:''; display:block; width:100%; height:0.4em; background:#90b7f0; position:absolute; bottom:0.15em; left:0; z-index:-1; transform:scaleX(0);-webkit-transform-origin: right top; transform-origin: right top; transition: -webkit-transform 0.3s ease-in; transition: transform 0.3s ease-in;}
    nav ul li:nth-child(3) a::after {transform:scaleX(1);}
    nav ul li a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    }
    .menu_icon {display:none;}

    /*** footer ***/
    footer {font-size:0.833vw; padding:25px 15.625%;}
}